:root {
    --primary: #3C3C3C;
    --bg: #9AA5AE;
    --bg-calendar: #D1D6DA;
    --link: #005F73;
}

@font-face {
    font-family: "Inter";
    src: url(res/fonts/Inter-VariableFont_whgt.ttf) format("truetype");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Content */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    min-height: 100vh;
    background-color: var(--bg);
}

main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: var(--bg-calendar);
    margin: 0 10px;
    padding: 10px 0;
    box-shadow: 0 0 3px var(--primary);
}

h1 {
    grid-column: 1 / 5;
    text-align: center;
    align-content: center;
    font-size: 50px;
}

.day-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    box-shadow: var(--primary) 0 0 3px;
    transition: box-shadow .2s ease;
}

.day-boxes:hover {
    box-shadow: var(--link) 0 0 8px 2px;
}

.day-boxes span {
    padding: 15px;
}

a {
    position: relative;
    text-decoration: none;
    color: var(--link);
    padding: 10px;
    transition: text-decoration .5s ease-out;
}

.day-boxes:hover a {
    text-decoration: underline;
}

/* Responsive */

@media (max-width: 1250px) {
    main {
        width: 100%;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 1fr);
        box-shadow: none;
        margin: 0;
        font-size: 16px;
    }

    h1 {
        font-size: 40px;
    }
}

@media (max-width: 750px) {
    main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }
}

@media (max-width: 500px) {
    main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(13, 1fr);
    }

    h1 {
        font-size: 30px;
        grid-column:  1 / 4;
    }
}

@media (max-width: 375px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(18, 1fr);
    }

    h1 {
        font-size: 25px;
        grid-column:  1 / 3;
    }
}

/* Responsive to 300px ! */